<!-- Educación y Experiencia -->
<div class="container-fluid py-5" id="qualification">
    <div class="container">
        <div class="section-title">
            <h2>Educación y Experiencia</h2>
            <p>Mi trayectoria educativa y laboral</p>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h3 class="mb-4">Mi Educación</h3>
                <div class="border-left border-info pt-2 pl-4 ml-2">
                    <div class="position-relative mb-4">
                        <i class="bi bi-arrow-right-circle-fill icon text-info position-absolute" style="top: 2px; left: -32px;"></i>
                        <h5 class="font-weight-bold mb-1">Bachiller en Informática en la escuela secundaria</h5>
                        <p class="mb-2"><strong>Instituto Secundario Carlos Pellegrini</strong> | <small>2018 - 2023</small></p>
                        <p>Durante la escuela secundaria, aprendí los fundamentos de la lógica de programación y comencé con C++, luego avancé a Visual Basic para ejercicios más complejos. También adquirí competencia en HTML/CSS para maquetación web y fundamentos de bases de datos. Además, exploré principios de marketing y dominé Excel para análisis de datos.</p>
                    </div>
                    <div class="position-relative mb-4">
                        <i class="bi bi-arrow-right-circle-fill icon text-info position-absolute" style="top: 2px; left: -32px;"></i>
                        <h5 class="font-weight-bold mb-1">Cursos de Desarrollo Web</h5>
                        <p class="mb-2"><strong>YouTube, GitHub, Cursos Conocidos</strong> | <small>2023 - En progreso</small></p>
                        <p>Amplié mis habilidades más allá de la educación secundaria a través de cursos en línea en plataformas como YouTube y GitHub, así como cursos de internet reconocidos. Estos cursos cubrieron una amplia gama de temas que incluyen HTML, CSS, PHP, JavaScript básico, MySQL, Bootstrap, principios de desarrollo web, Sass y lógica de programación. Este viaje de aprendizaje autodidacta me equipó con las herramientas necesarias para destacar en el desarrollo web y la programación.</p>
                    </div>
                    <div class="position-relative mb-4">
                        <i class="bi bi-arrow-right-circle-fill icon text-info position-absolute" style="top: 2px; left: -32px;"></i>
                        <h5 class="font-weight-bold mb-1">Técnico en Desarrollo de Software</h5>
                        <p class="mb-2"><strong>Instituto Superior Villa Del Rosario</strong> | <small>En progreso - primer año</small></p>
                        <p>Actualmente inscrito en el Instituto Superior Villa Del Rosario, estoy cursando la carrera de Técnico en Desarrollo de Software. Este programa abarca el desarrollo web avanzado y profundiza en el ciclo de vida de un desarrollador de software. Al completar, adquiriré un título en programación, lo que me equipará con las habilidades necesarias para prosperar en el campo.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="mb-4">Mi Experiencia</h3>
                <div class="border-left border-info pt-2 pl-4 ml-2">
                    <div class="position-relative mb-4">
                        <i class="bi bi-arrow-right-circle-fill icon text-info position-absolute" style="top: 2px; left: -32px;"></i>
                        <h5 class="font-weight-bold mb-1">Diseñador/Desarrollador Web</h5>
                        <p class="mb-2"><strong>Instituto Secundario Carlos Pellegrini</strong> | <small>2023</small></p>
                        <p>Lideré la creación del sitio web de la escuela, colaborando con las partes interesadas para recopilar requisitos, conceptualizar elementos de diseño y ejecutar el proceso de desarrollo. Gestioné un equipo de desarrolladores, diseñadores y creadores de contenido para asegurar que el sitio web cumpliera con las pautas de marca de la escuela y proporcionara información relevante a estudiantes, padres y personal.</p>
                    </div>
                    <div class="position-relative mb-4">
                        <i class="bi bi-arrow-right-circle-fill icon text-info position-absolute" style="top: 2px; left: -32px;"></i>
                        <h5 class="font-weight-bold mb-1">Gerente de Proyecto de TI - Desarrollador Web</h5>
                        <p class="mb-2"><strong>Instituto Secundario Carlos Pellegrini</strong> | <small>2023</small></p>
                        <p>Desempeñé el rol de gerente de proyectos de TI para múltiples iniciativas durante mi educación secundaria. Supervisé la planificación, ejecución y entrega de diversos proyectos de TI, incluidas implementaciones de software, actualizaciones de sistemas y mejoras de redes. Coordiné con equipos multifuncionales para definir objetivos del proyecto, asignar recursos y mitigar riesgos, lo que resultó en la finalización exitosa de proyectos dentro del plazo y el presupuesto.</p>
                    </div>
                    <div class="position-relative mb-4">
                        <i class="bi bi-arrow-right-circle-fill icon text-info position-absolute" style="top: 2px; left: -32px;"></i>
                        <h5 class="font-weight-bold mb-1">App de Turnos para Salón de Belleza</h5>
                        <p class="mb-2"><strong>Pes Tec: <a href="https://pestec.site/turnero_pineiro/index.php" target="_blank">App</a></strong> | <small>2024 - Versión 1.0 terminada.</small></p>
                        <p>Diseñé una aplicación de programación de turnos centrada en salones de belleza, integrando información de mercado para optimizar los procedimientos de reserva. Introduje características como disponibilidad en tiempo real y recordatorios automatizados para aumentar la eficiencia operativa y la satisfacción del cliente. Trabajé en estrecha colaboración con las partes interesadas del salón, incorporando sus comentarios para refinar la aplicación y impulsar el crecimiento de ingresos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin de Educación y Experiencia -->